{% extends 'portal/portal' %}
{% block appStylos %}{% endblock %}
{% block appBody %}
  <section class="content-header">
    <h1>
      Confirmación
      <small>Editar Resultado</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-home"></i>
          Home</a>
      </li>
      <li>
        <a href="confirmacion/mantenedores_crud_masters">Mantenedores</a>
      </li>
      <li>
        <a href="confirmacion/listar_resultado">Listado de Resultado</a>
      </li>
      <li class="active">Editar Resultado</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      <div class="row">
          <div class="col-md-12">
                <div class="box box-primary">
                    <form id="editar_resultado_form" action="" method="POST">
                        <div class="box-body col-sm-4"></div>
                        <div class="box-body col-sm-4">
                            <div class="form-group">
                                <input class="form-control" name="nombre" id="nombre" type="text" value="{{ resultado_db.nombre }}" required="required"/>
                            </div>
                            {% if resultado_db.cumplimiento == '0' %}
                                <div class="form-group">
                                    <select name="cumplimiento" id="cumplimiento" class="form-control">
                                        <option value="1">Cumple</option>
                                        <option value="0" selected="selected">No Cumple</option>
                                    </select>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <select name="cumplimiento" id="cumplimiento" class="form-control">
                                        <option value="1" selected="selected">Cumple</option>
                                        <option value="0">No Cumple</option>
                                    </select>
                                </div>
                            {% endif %}
                            {% if resultado_db.grupo == '0' %}
                                <div class="form-group">
                                    <select name="grupo" id="grupo" class="form-control">
                                        <option value="1">Confirmado</option>
                                        <option value="0" selected="selected">No Confirmado</option>
                                    </select>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <select name="grupo" id="grupo" class="form-control">
                                        <option value="1" selected="selected">Confirmado</option>
                                        <option value="0">No Confirmado</option>
                                    </select>
                                </div>
                            {% endif %}

                        <center>
                            <div class="form-group">
                                <button type="button" id="update_resultado" class="btn btn-default">Grabar</button>
                                <button type="reset" id="limpiar" class="btn btn-default">Limpiar</button>
                            </div>
                        </center>
                        <input class="form-control" name="id_resultado" id="id_resultado" type="hidden" value="{{ resultado_db.id_resultado }}" required="required"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

{% endblock %}
{% block appScript %}
<script src="views/app/js/confirmacion/confirmacion.js"></script>
{% endblock %}
