{% extends 'portal/portal' %}
{% block appBody %}
<section class="content-header">
    <h1>
        Coordinación
        <small>Distribución</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-rigth">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab">DISTRIBUIR POR BLOQUE</a></li>
                    <!-- <li><a href="#tab_2-2" data-toggle="tab">MOVER ORDENES A EJECUTIVO</a></li>
                    <li><a href="#tab_3-3" data-toggle="tab">TAB 3</a></li>
                    <li><a href="#tab_4-4" data-toggle="tab">TAB 4</a></li> -->
                    <!-- <li class="pull-left header"></li> -->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1-1">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form id="form_bloques" name="form_bloques">
                                    <div class="form-group">
                                        <div class="panel-footer">
                                            <label>Seleccionar Bloque:</label>
                                            &nbsp;
                                            <label>
                                                <select  id='selectbloque' name='selectbloque' onchange='seleccionar_bloque()'>
                                                    <option>--</option>
                                                    {% for b in db_bloque if false != db_bloque %}
                                                        <option value='{{ b.bloque }}'>{{ b.bloque }}</option>
                                                    {% endfor %}
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <div id="select_bloque" name="select_bloque">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2-2">
                        <div class="box box-primary">
                            <div class="box-body">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3-3">
                        <div class="box box-primary">
                            <div class="box-body">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_4-4">
                        <div class="box box-primary">
                            <div class="box-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block appScript %}

  <script src="views/app/js/coordinacion/distribucion.js"></script>
{% endblock %}
