<div id="lostpass" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recuperar Contraseña</h4>
      </div>
      <div class="modal-body">
        <form id="lostpass_form" class="form-signin" method="POST">
            <input type="email" name="email" class="form-control" placeholder="Email de cuenta a recuperar" autofocus>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" id="recuperar" class="btn btn-success">Recuperar</button>
      </div>
    </div>
  </div>
</div>
