{% extends 'portal/portal' %}
{% block appStylos %}
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Confirmación
            <small>Edita Actividad</small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="confirmacion/mantenedores_crud_masters">Mantenedores</a></li>
        <li><a href="confirmacion/listar_actividades">Listado de Actividades</a></li>
        <li class="active">Editar Actividad</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <form id="editar_actividad_form"  action="" method="POST">
              <div class="box-body col-sm-4"></div>
              <div class="box-body col-sm-4">
                <input type='hidden' name='id_actividad' id='id_actividad' value='{{ db_actividad.id_actividad }}' />
                <div class="form-group">
                    <input class="form-control" name="actividad" id="actividad" type="text" placeholder="Nombre de la actividad" value='{{ db_actividad.actividad }}' required/>
                   {% if db_actividad.speed_test == 1 %}
                  <input  name="speed_test" id="speed_test" type="checkbox" checked/>Speed Test<br>
                      {% else %}
                  <input  name="speed_test" id="speed_test" type="checkbox" />Speed Test<br>
                      {% endif %}
                      {% if db_actividad.certificacion == 1 %}
                  <input  name="certificacion" id="certificacion" type="checkbox"checked />Certificacion<br>
                      {% else %}
                  <input  name="certificacion" id="certificacion" type="checkbox" />Certificacion<br>
                      {% endif %}
                  {% if db_actividad.cierre_seguro == 1 %}
                  <input  name="cierre_seguro" id="cierre_seguro" type="checkbox" checked/>Cierre Seguro<br>
                      {% else %}
                  <input  name="cierre_seguro" id="cierre_seguro" type="checkbox" />Cierre Seguro<br>
                      {% endif %}
                </div>
                <div class="panel-footer text-center">
                  <button type="button" id="update_actividad" onclick="editar_actividad({{ db_actividad.id_actividad }});" class="btn btn-default">Grabar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock %}
{% block appScript %}
    <script src="views/app/js/confirmacion/confirmacion.js"></script>
{% endblock %}
