{% extends 'portal/portal' %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Builder APP
            <small>Control panel</small>
            <a class="btn btn-primary btn-social pull-right" href="builderapp/constructor" title="Agregar" data-toggle="tooltip">
                <i class="fa fa-plus"></i> Agregar Nueva APP
            </a>
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
    </section>
    <!-- /.content -->

{% endblock %}
