{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
<section class="content-header">
    <h1>
        DESPACHO
        <small>Vista de Supervisor</small>

        <input type="hidden" name="idusuario" id="idusuario" value="">

        <select id="ejecutivo_filtro" name="ejecutivo_filtro" style="width:20em;" onchange="document.getElementById('idusuario').value=document.getElementById('ejecutivo_filtro').value;">
            <option value="0">--</option>
            <option value="TODOS">TODOS</option>
            {% for d in personal_db if false != personal_db %}
                <option class="text-center" value="{{ d.id_user }}">{{ d.name }}</option>
            {% endfor %}
        </select>

    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-rigth">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab" onclick="actualizar_tablas_resumenes(document.getElementById('idusuario').value,'super');">RESUMEN SEGUIMIENTO</a></li>
                    <li><a id="tab3" href="#tab_3-3" data-toggle="tab" onclick="actualizar_tabla_ordenes(document.getElementById('idusuario').value,'*');">VER ORDENES</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1-1">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Comunas y Ordenes Asignadas</h3>
                                    </div>
                                    <div id="div_contenedor_resumen_ordenes" class="box-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Tecnicos Asignados</h3>
                                    </div>
                                    <div id="div_contenedor_tecnicos_asignados" class="box-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_3-3">
                        <div class="box box-primary">
                            <div class="box-body resposible">
                                <div class="col-md-12">
                                    <form id="formordenes" name="formordenes" method="post">
                                        <table class="table table-bordered table-responsive" id="tblordenes" name="tblordenes">
                                            <thead>
                                                <tr>
                                                <th>No</th>
                                                <th>Tipo Orden</th>
                                                <th>Actividad</th>
                                                <th>N° Orden</th>
                                                <th>Rut Cliente</th>
                                                <th>Fecha compromiso</th>
                                                <th>Bloque</th>
                                                <th>Comuna</th>
                                                <th>Tecnico Asignado</th>
                                                <th>Estado de Orden</th>
                                                <th>Prioridad</th>
                                                <th>OPERACIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block appScript %}

  <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

  <script src="views/app/js/despacho/despacho.js"></script>

  <script>
    $("#tblseguimiento").dataTable({
      "language": {
        "search": "Buscar:",
        "zeroRecords": "No hay datos para mostrar",
        "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "infoEmpty": "No hay entradas para mostrar",
        "lengthMenu": "Mostrar _MENU_ Filas",
        "paginate": {
          "first": "Primera",
          "last": "Ultima",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
      "autoWidth": true,
      "bSort": false,
    "scrollX": true
    });
  </script>
  <script>
    $("#tblordenes").dataTable({
      "language": {
        "search": "Buscar:",
        "zeroRecords": "No hay datos para mostrar",
        "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "infoEmpty": "No hay entradas para mostrar",
        "lengthMenu": "Mostrar _MENU_ Filas",
        "paginate": {
          "first": "Primera",
          "last": "Ultima",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
      "autoWidth": true,
      "bSort": false,
    "scrollX": true
    });
  </script>
{% endblock %}
