{% extends 'portal/portal' %}
{% block appBody %}
<section class="content-header">
    <h1>
        Coordinación
        <small>Asignar Comuna a Ejecutivos</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Asignar Comuna a Ejecutivos</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label><strong>Seleccione Perfil</strong></label>
                            <form name="filtra_usuario_perfil" id="filtra_usuario_perfil" action="" method="POST">
                                <label>
                                    <select class="form-control" name='select_ejecutivo' id='select_ejecutivo'>
                                    <option selected='selected'>--</option>
                                    {% for d in ejecutivos if d.id_user != 1 %}
                                        <option>{{ d.nombre }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                                <input type='hidden' name='Submit' value='Consultar' id='submit'>
                            </form>
                        </div>

                        <div class="col-sm-8">
                            <form id="form_opciones" name="form_opciones" action="" method="POST">
                                <label id="resultado" name="resultado">
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-body" id="mostrardatosdiv">
                            <div id="mostrarDatos">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  {% endblock %}
  {% block appScript %}
    <script src="views/app/js/coordinacion/asignar_comuna.js"></script>
  {% endblock %}
