{% extends 'portal/portal' %}
{% block appBody %}
    <section class="content-header">
        <h1>
            ERROR 403
            <small>Acceso denegado!.</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      
    </section>
    <!-- /.content -->
{% endblock %}
