{% extends 'portal/portal' %} {% block appStylos %}{% endblock %} {% block appBody %}
<section class="content-header">
    <h1>
        Plataforma
        <small>Agregar Actividad</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>
                Home</a>
        </li>
        <li>
            <a href="plataforma/mantenedores_crud_masters">Mantenedores</a>
        </li>
        <li>
            <a href="plataforma/listar_actividades">Listado de Actividades</a>
        </li>
        <li class="active">Nueva Actividad</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form id="register_actividad_form" action="" method="POST">
                    <div class="box-body col-sm-4"></div>
                    <div class="box-body col-sm-4">
                        <div class="form-group">
                            <input class="form-control" name="actividad" id="actividad" type="text" placeholder="Nombre de la actividad" required="required"
                            />
                        </div>
                        <div class="form-group">
                            <button type="button" id="register_actividad" class="btn btn-default">Grabar</button>
                            <button type="reset" id="limpiar" class="btn btn-default">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

{% endblock %} {% block appScript %}
<script src="views/app/js/plataforma/plataforma.js"></script>
{% endblock %}