<div id="modal_new_perfil" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recuperar Contraseña</h4>
      </div>
      <div class="modal-body">
        <form id="new_perfil_form" class="form-signin" method="POST">
            <input type="text" name="new_perfil" class="form-control" placeholder="Ingrese Nombre nuevo perfil">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btn_new_perfil" class="btn btn-success">Registrar</button>
      </div>
    </div>
  </div>
</div>
